<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="item1">ITEM1</div>
        <div class="item2">ITEM1</div>
        <div class="item3">ITEM1</div>
        <div class="item4">ITEM1</div>
        <div class="item5">ITEM1</div>
        <div class="item6">ITEM1</div>
        <div class="item7">ITEM1</div>
        <div class="item8">ITEM1</div>
        <div class="item9">ITEM1</div>
        <div class="item10">ITEM1</div>
        <div class="item11">ITEM1</div>
        <div class="item12">ITEM1</div>
        <div class="item13">ITEM1</div>
        <div class="item14">ITEM1</div>
        <div class="item15">ITEM1</div>
        <div class="item16">ITEM1</div>
        <div class="item17">ITEM1</div>
        <div class="item18">ITEM1</div>
        <div class="item19">ITEM1</div>
        <div class="item20">ITEM1</div>
        <div class="item21">ITEM1</div>
        <div class="item22">ITEM1</div>
        <div class="item23">ITEM1</div>
        <div class="item24">ITEM1</div>
        <div class="item25">ITEM1</div>
        <div class="item26">ITEM1</div>
        <div class="item27">ITEM1</div>
        <div class="item28">ITEM1</div>
        <div class="item29">ITEM1</div>
        <div class="item30">ITEM1</div>
        <div class="item31">ITEM1</div>
        <div class="item32">ITEM1</div>
        <div class="item33">ITEM1</div>
        <div class="item34">ITEM1</div>
        <div class="item35">ITEM1</div>
        <div class="item36">ITEM1</div>
        <div class="item37">ITEM1</div>
        <div class="item38">ITEM1</div>
        <div class="item39">ITEM1</div>
        <div class="item40">ITEM1</div>
        <div class="item41">ITEM1</div>
        <div class="item42">ITEM1</div>
        <div class="item43">ITEM1</div>
        <div class="item44">ITEM1</div>
        <div class="item45">ITEM1</div>
        <div class="item46">ITEM1</div>
        <div class="item47">ITEM1</div>
        <div class="item48">ITEM1</div>
        <div class="item49">ITEM1</div>
        <div class="item50">ITEM1</div>
    </div>
</body>
</html>