.header-container {
    width: 100%;
    height: 450px;
    background-color: #4E5366;
    padding: 0 90px 0px 90px;
    box-sizing: border-box;
    .side-bar {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        line-height: 100px;
        font-size: 13px;
        color: #F0F7FF;
        .content {
            .altitude {
                border-right: 2px solid #8F94A4;
                padding-right: 5px;;
            }
            .bypixelarity {
                margin-left: 3px;
                color: #8F94A4;
            }
        }
        .menu {
            .fa-bars {
                margin-left: 5px;
            }
        }
    }
    .header-box {
        width: 100%;
        height: 350px;
        display: flex;
        .header-box-left {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 100%;
            .header-box-left-up {
                display: flex;
                flex-direction: column;
                height: 50%;
                background-color: #4DAAAF;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 0 20px;
                .title {
                    font-size: 19px;
                    color: #F0F7FF;
                }
                p:not(.title) {
                    font-size: 12px;
                    color: #94E5E8;
                    margin: 20px 0;
                }
                button {
                    width: 70px;
                    height: 30px;
                    border-radius: 31px;
                    border-style: none;
                    box-shadow: 0px 0px 5px black;
                    background-color: #5AB7BB;
                    color: #F0F7FF;
                }
            }
            .header-box-left-down {
                display: flex;
                flex-direction: column;
                height: 50%;
                background-color: #6AC8AE;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding: 0 20px;
                .title {
                    font-size: 19px;
                    color: #F0F7FF;
                }
                p:not(.title) {
                    font-size: 12px;
                    color: #94E5E8;
                    margin: 20px 0;
                }
                button {
                    width: 70px;
                    height: 30px;
                    border-radius: 31px;
                    border-style: none;
                    box-shadow: 0px 0px 5px black;
                    background-color: #6AC8AE;
                    color: #F0F7FF;
                }
            }
        }
        .header-box-right {
            overflow: hidden;
            width: 60%;
            height: 100%;
            background-color: darkseagreen;
            img {
                height: 100%;
                object-position: -30px;
            }
        }
    }
}